<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @dropoff_location.location %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @dropoff_location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @dropoff_location.longitude %>
</p>

<p>
  <strong>Details:</strong>
  <%= @dropoff_location.details %>
</p>

<p>
  <strong>Items:</strong>
  <%= @dropoff_location.items %>
</p>

<%= link_to 'Edit', edit_dropoff_location_path(@dropoff_location) %> |
<%= link_to 'Back', dropoff_locations_path %>
