<h1>Listing Pickup Locations</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Details</th>
      <th>Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pickup_locations.each do |pickup_location| %>
      <tr>
        <td><%= pickup_location.location %></td>
        <td><%= pickup_location.latitude %></td>
        <td><%= pickup_location.longitude %></td>
        <td><%= pickup_location.details %></td>
        <td><%= pickup_location.items %></td>
        <td><%= link_to 'Show', pickup_location %></td>
        <td><%= link_to 'Edit', edit_pickup_location_path(pickup_location) %></td>
        <td><%= link_to 'Destroy', pickup_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pickup location', new_pickup_location_path %>
